<% if flash[:complete] %>
<p><%= flash[:complete] %> <p>
<% end %>

    <strong>Title:</strong>"<%= @book.title %>"
</p>

<p>
    <strong>Body:</strong>"<%= @book.body %>"
</p>

<%=link_to "Edit", edit_book_path(@book.id) %>
"|"
<a href="/books">Back</a>

